@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --Very-vark-blue: hsl(218, 12%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsla(0, 0%, 0%, 0.7);
}
body {
  font-family: "Kumbh Sans", sans-serif;
  position: relative;
  height: 100vh;
}

.container {
  padding: 0 160px;
  position: relative;
}

@media screen and (min-width: 577px) and (max-width: 820px) {
  .container {
    padding: 0 70px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0 25px;
  }
}

header {
  background-color: #fff;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
}

header .container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ecebef;
}

header .logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo-nav .logo img {
  width: 110px;
  cursor: pointer;
}

header .logo-nav nav ul {
  display: flex;
}

header .logo-nav nav {
  margin-left: 50px;
}

/* style nav for mobile */

.mobile-only {
  display: none;
}

.black-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -100;
  transition: 0.3s ease-in-out;
  transition-property: background-color, z-index;
}
.layer-active {
  background-color: var(--Black);
  z-index: 999;
  position: fixed;
}
@media screen and (max-width: 768px) {
  header .logo-nav nav {
    position: fixed;
    margin: 0 !important;
    height: 100vh;
    width: 70%;
    top: 0;
    left: 0;
    background-color: var(--White);
    transform: translateX(-100%);
    transition: 0.3s ease-in-out transform;
    z-index: 9999;
  }
  .active {
    transform: translateX(0) !important;
  }
  header .logo-nav nav ul {
    flex-direction: column;
    margin-top: 50px;
  }

  header .logo-nav nav ul li a {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 17px !important;
    font-weight: 700;
    color: var(--Very-vark-blue) !important;
  }
  .nav-btn-close {
    display: block;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 40px;
  }
  .nav-btn-open {
    display: block;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 2px;
  }
  header .logo-nav nav ul li {
    margin-top: 25px;
    margin-left: 40px;
  }
  header .logo-nav .logo img {
    width: fit-content;
  }
}
header .logo-nav nav ul li a {
  font-size: 14px;
  color: var(--Dark-grayish-blue);
  padding: 30px 0;
  position: relative;
  transition: 0.3s ease-in-out;
  transition-property: color;
}

header .logo-nav nav ul li a::before {
  position: absolute;
  content: "";
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--orange);
  opacity: 0;
  transition: 0.3s ease-in-out;
  transition-property: opacity;
}

header .logo-nav nav ul li a:hover::before {
  opacity: 1;
}

header .logo-nav nav ul li a:hover {
  color: var(--Very-vark-blue);
}

header .logo-nav nav ul li:not(:last-child) a {
  margin-right: 25px;
}

.cart-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.cart-profile .cart {
  margin-right: 30px;
  position: relative;
}

.profile-pic img {
  width: 40px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile-pic img {
    width: 25px;
  }
}

.profile-pic img:hover {
  border: 2px solid var(--orange);
  border-radius: 50%;
}
.cart img {
  width: 20px;
  transition: 0.3s ease-in-out filter;
  cursor: pointer;
}

.cart img:hover {
  filter: invert(0) sepia(16) saturate(641%) hue-rotate(179deg) brightness(0%)
    contrast(64%);
}

section {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  section {
    margin-top: -20px;
  }
  section .element-info {
    margin: 0;
  }
}
section .slider-area .preview-img img {
  width: 85%;
  border-radius: 15px;
  cursor: pointer;
}

section .slider-area .images-container {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  user-select: none;
}

section .slider-area .images-container img {
  width: 100%;
  border-radius: 10px;
  transition: 0.3s ease-in-out opacity;
}
section .slider-area .images-container img:hover {
  opacity: 0.6;
}
section .slider-area .images-container .img-box {
  width: calc(80% / 4);
  cursor: pointer;
}

.slected-image {
  position: relative;
}

.slected-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 95%;
  top: -2px;
  left: -2px;
  background-color: #ffffffc2;
  border: 2px solid var(--orange);
  border-radius: 15px;
}

section .element-info {
  margin: 40px 0 0 40px;
}
@media screen and (max-width: 768px) {
  section .element-info {
    margin: 0;
  }
}
section .element-info .company-name {
  font-size: 13px;
  color: var(--orange);
  font-weight: 700;
  text-transform: uppercase;
}

section .element-info .product-title {
  margin-top: 10px;
  font-size: 30px;
  color: var(--Very-vark-blue);
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  section .element-info .product-title {
    margin-bottom: 15px;
    font-size: 28px;
  }
}
section .element-info .product-info {
  color: var(--Dark-grayish-blue);
  font-size: 13px;
  line-height: 1.7;
  margin-bottom: 20px;
  width: 100%;
  max-width: 850px;
}

@media screen and (max-width: 768px) {
  section .element-info .product-info {
    font-size: 15px;
    margin-bottom: 30px;
  }
}
section .element-info .product-price {
  color: var(--Very-vark-blue);
  position: relative;
  width: fit-content;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .price-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

section .element-info .product-price::before {
  content: "50%";
  position: absolute;
  top: 0;
  right: -50px;
  background-color: var(--pale-orange);
  font-size: 14px;
  color: var(--orange);
  padding: 3px 5px;
  font-weight: 700;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  section .element-info .product-price::before {
    top: 2px;
  }
}

section .element-info .product-Previous-price {
  width: fit-content;
  color: var(--Grayish-blue);
  text-decoration: line-through;
}

section .element-info .stock-and-add-cart {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  section .element-info .stock-and-add-cart {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    flex-direction: column;
  }
}

section .element-info .stock-and-add-cart .stock {
  padding: 10px 10px;
  background-color: var(--Light-grayish-blue);
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  section .element-info .stock-and-add-cart .stock {
    width: 100%;
    padding: 15px 10px;
    font-weight: 700;
  }
}
section .element-info .stock-and-add-cart .stock img {
  transition: 0.3s ease-in-out opacity;
  cursor: pointer;
}
section .element-info .stock-and-add-cart .add-cart {
  display: flex;
  align-items: center;
  width: 63%;
  justify-content: center;
  background-color: var(--orange);
  border-radius: 7px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  transition: 0.3s ease-in-out;
  transition-property: opacity, box-shadow;
  cursor: pointer;
  position: relative;
}

section .element-info .add-cart::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
@media screen and (max-width: 768px) {
  section .element-info .stock-and-add-cart .add-cart {
    width: 100%;
    padding: 15px 0;
    margin: 20px 0;
    box-shadow: 0px 10px 35px -12px var(--orange);
  }
}

section .element-info .stock-and-add-cart .add-cart:hover {
  opacity: 0.7;
  box-shadow: 0px 10px 35px -12px var(--orange);
}

section .element-info .stock-and-add-cart .add-cart span img {
  width: 16px;
  filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(73deg) brightness(210%)
    contrast(133%);
  user-select: none;
}

section .element-info .stock-and-add-cart .add-cart span:nth-child(2) {
  margin-left: 15px;
}

@media screen and (max-width: 768px) {
  section .element-info .stock-and-add-cart .add-cart span:nth-child(2) {
    font-size: 16px;
  }
}
section .element-info .stock-and-add-cart .stock img:hover {
  opacity: 0.5;
}

.mobile-slider-box {
  display: none;
}

/* style slider for small ecran */

@media screen and (max-width: 768px) {
  .only-desktop-and-tablette {
    display: none;
  }
  .mobile-slider-box {
    overflow: hidden;
  }
  .mobile-slider-box {
    display: block;
  }
  .mobile-silder {
    transform: translateY(-10%);
    position: relative;
  }
  .mobile-silder .preview-img {
    display: flex;
    transition: 0.3s ease-in-out transform;
    width: 100vw;
  }
  .mobile-silder .preview-img .img-box img {
    width: 100vw;
  }
  .mobile-silder .previous-btn,
  .mobile-silder .next-btn {
    position: absolute;
    top: 50%;
    background-color: white;
    width: 5%;
    height: 5%;
    border-radius: 50%;
    padding: 20px;
    z-index: 99;
  }
  .mobile-silder .previous-btn {
    left: 4%;
  }
  .mobile-silder .next-btn {
    right: 4%;
  }
  .mobile-silder .previous-btn img {
    width: 10px;
    transform: translate(-65%, -50%);
  }
  .mobile-silder .next-btn img {
    width: 10px;
    transform: translate(-35%, -60%);
  }
}

.slider-preview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 400px;
  visibility: hidden;
  z-index: 9999;
}

.slider-preview .preview-img {
  position: relative;
}

.slider-preview .preview-img .preview-img-Element {
  width: 400px;
  border-radius: 10px;
}

.slider-preview .images-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
  user-select: none;
}

.slider-preview .images-container .img-box {
  width: calc(70% / 4);
  cursor: pointer;
}

.slider-preview .images-container .img-box img {
  width: 100%;
  border-radius: 10px;
}

.slider-preview .images-container .img-box img:hover {
  opacity: 0.6;
}

.slider-preview .slider-close {
  position: absolute;
  right: 0;
  top: -30px;
  cursor: pointer;
}

.slider-preview .next-btn,
.slider-preview .previous-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.slider-preview .next-btn {
  right: -5.5%;
}

.slider-preview .previous-btn {
  left: -5.5%;
}

.slider-preview .next-btn:hover img,
.slider-preview .previous-btn:hover img,
.slider-preview .slider-close:hover {
  filter: invert(70%) sepia(84%) saturate(3778%) hue-rotate(344deg)
    brightness(99%) contrast(108%);
}

.slider-preview .previous-btn img,
.slider-preview .next-btn img {
  width: 8px;
}

.sliderActive {
  visibility: visible;
}

/* style cart */

header .cart-preview {
  position: absolute;
  top: 56px;
  left: -150px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: 0 0 42px -14px black;
  border-radius: 5px;
  overflow-y: scroll;
  opacity: 0;
  z-index: -100;
}

/* style cart for mobile and tablette  */

@media screen and (max-width: 414px) {
  header {
    position: relative;
  }
  .cart-profile {
    position: static;
  }
  header .cart-preview {
    top: 90px;
    left: 8px;
    width: 96vw;
    height: 200px;
  }
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  header {
    position: static;
  }
  .cart-profile {
    position: relative;
  }
  header .cart-preview {
    top: 70px;
    right: 0;
    width: 300px;
    height: 200px;
    transform: translateX(-25%);
  }
}

header .cart-preview::-webkit-scrollbar {
  width: 5px;
}

header .cart-preview::-webkit-scrollbar-thumb {
  background-color: var(--orange);
  border-radius: 10px;
}

header .cart-preview .product-area .img img {
  width: 40px;
  border-radius: 4px;
}

header .cart-preview .product-area {
  display: flex;
  margin: 20px 0;
  padding: 0 20px;
  justify-content: space-between;
}

header .cart-preview .cart-name {
  font-size: 14px;
  font-weight: 600;
  color: var(--Very-vark-blue);
  padding: 20px 15px;
}

hr.cart-line {
  border-top: 0;
  border-bottom: 1px solid var(--Grayish-blue);
}

header .cart-preview .product-area .product-info .product-title {
  color: var(--Dark-grayish-blue);
  font-size: 14px;
}

header .cart-preview .product-area .product-info .price-area {
  font-size: 14px;
  color: var(--Dark-grayish-blue);
}

header .cart-preview .product-area .remove-product-btn {
  margin-top: 10px;
  transition: 0.3s ease-in-out filter;
  cursor: pointer;
  position: relative;
}
header .cart-preview .product-area .remove-product-btn:hover {
  filter: invert(0) sepia(16) saturate(641%) hue-rotate(179deg) brightness(0%)
    contrast(64%);
}

header .cart-preview .product-area .remove-product-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

header .cart-preview .product-area .remove-product-btn img {
  width: 10px;
}

header .cart-preview .product-area .price-area .final-price {
  font-weight: 600;
  color: var(--Very-vark-blue);
  margin-left: 5px;
}

header .cart-preview .checkout-btn {
  text-align: center;
  background-color: var(--orange);
  padding: 13px 0;
  margin: 20px;
  border-radius: 8px;
  color: var(--White);
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transition-property: opacity, background-color;
}

header .cart-preview .checkout-btn:hover {
  opacity: 0.7;
}

.cart-active {
  opacity: 1 !important;
  z-index: 99 !important;
}

header .cart-preview .cart-empty {
  font-size: 14px;
  color: var(--Dark-grayish-blue);
  font-weight: 700;
  position: absolute;
  top: 58%;
  left: 30%;
  display: none;
}

header .cart-preview .cart-empty-active {
  display: block !important;
}

.cart-profile .cart .cart-length {
  cursor: alias;
  position: absolute;
  top: -8px;
  right: -4px;
  width: 17px;
  height: 13px;
  text-align: center;
  background-color: var(--orange);
  font-size: 11px;
  font-weight: 700;
  color: var(--White);
  border-radius: 6px;
}
